USE [CSDLNC]
GO
/****** Object:  Table [dbo].[CHITIETSUDUNGDICHVU]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSUDUNGDICHVU](
	[SOPHIEU] [char](10) NULL,
	[MADV] [char](10) NULL,
	[SOLANSUDUNG] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTOUR]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTOUR](
	[SOPHIEUDATTOUR] [char](10) NULL,
	[MATOUR] [char](10) NULL,
	[NGAYDI] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MADL] [char](10) NOT NULL,
	[TENDL] [nvarchar](30) NULL,
	[ĐIACHI] [nvarchar](50) NULL,
	[SĐT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACHQUANAN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHQUANAN](
	[MAQA] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[TENQA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATTOUR]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATTOUR](
	[SOPHIEUDATTOUR] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[SOKHACH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUDATTOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEMTHAMQUAN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEMTHAMQUAN](
	[MADTQ] [char](10) NOT NULL,
	[MATOUR] [char](10) NULL,
	[TENDTQ] [nvarchar](100) NULL,
 CONSTRAINT [PK__DIADIEMT__77CD9BFC385E8F07] PRIMARY KEY CLUSTERED 
(
	[MADTQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[MALOAI] [char](10) NULL,
	[TENDV] [nvarchar](30) NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDV]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDV](
	[MAHDV] [char](10) NOT NULL,
	[MATOUR] [char](10) NULL,
	[TENHDV] [nvarchar](30) NULL,
	[ĐIACHI] [nvarchar](50) NULL,
	[SĐT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[CMND] [nvarchar](20) NULL,
	[ĐIACHI] [nvarchar](50) NULL,
	[SĐT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[MAKS] [char](10) NOT NULL,
	[MATOUR] [char](10) NULL,
	[TENKS] [nvarchar](30) NULL,
	[ĐIACHI] [nvarchar](50) NULL,
	[SĐT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHUONGTIEN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHUONGTIEN](
	[MALPT] [char](10) NOT NULL,
	[TENLPT] [nvarchar](30) NULL,
	[SOCHO] [nvarchar](50) NULL,
 CONSTRAINT [PK__LOAIPHUO__7A3DDA7CBF8D01EF] PRIMARY KEY CLUSTERED 
(
	[MALPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[SĐT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATDICHVU]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATDICHVU](
	[SOPHIEU] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[NGAYDAT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTIENDICHUYEN]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTIENDICHUYEN](
	[MALPT] [char](10) NULL,
	[MATOUR] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR](
	[MATOUR] [char](10) NOT NULL,
	[MAVE] [char](10) NULL,
	[MAQA] [char](10) NULL,
	[TENTOUR] [nvarchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 3/26/2022 7:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [char](10) NOT NULL,
	[MADL] [char](10) NULL,
	[TENVE] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETSUDUNGDICHVU] ([SOPHIEU], [MADV], [SOLANSUDUNG]) VALUES (N'SP01      ', N'DV01      ', N'2')
INSERT [dbo].[CHITIETSUDUNGDICHVU] ([SOPHIEU], [MADV], [SOLANSUDUNG]) VALUES (N'SP02      ', N'DV02      ', N'1')
INSERT [dbo].[CHITIETSUDUNGDICHVU] ([SOPHIEU], [MADV], [SOLANSUDUNG]) VALUES (N'SP03      ', N'DV03      ', N'3')
GO
INSERT [dbo].[CHITIETTOUR] ([SOPHIEUDATTOUR], [MATOUR], [NGAYDI]) VALUES (N'SPDT01    ', N'T01       ', CAST(N'2022-01-19' AS Date))
INSERT [dbo].[CHITIETTOUR] ([SOPHIEUDATTOUR], [MATOUR], [NGAYDI]) VALUES (N'SPDT02    ', N'T02       ', CAST(N'2022-01-19' AS Date))
INSERT [dbo].[CHITIETTOUR] ([SOPHIEUDATTOUR], [MATOUR], [NGAYDI]) VALUES (N'SPDT03    ', N'T03       ', CAST(N'2022-01-21' AS Date))
GO
INSERT [dbo].[DAILY] ([MADL], [TENDL], [ĐIACHI], [SĐT]) VALUES (N'DL01      ', N'TOURCN01', N'BÌNH THẠNH', N'115674631')
INSERT [dbo].[DAILY] ([MADL], [TENDL], [ĐIACHI], [SĐT]) VALUES (N'DL02      ', N'TOURCN02', N'QUẬN 3', N'561239887')
INSERT [dbo].[DAILY] ([MADL], [TENDL], [ĐIACHI], [SĐT]) VALUES (N'DL03      ', N'TOURCN03', N'QUẬN 7', N'456785515')
GO
INSERT [dbo].[DANHSACHQUANAN] ([MAQA], [MAKH], [TENQA]) VALUES (N'QA01      ', N'KH01      ', N'Nhà hàng Tempus Fugit')
INSERT [dbo].[DANHSACHQUANAN] ([MAQA], [MAKH], [TENQA]) VALUES (N'QA02      ', N'KH02      ', N'Nhà hàng Phố núi')
INSERT [dbo].[DANHSACHQUANAN] ([MAQA], [MAKH], [TENQA]) VALUES (N'QA03      ', N'KH03      ', N'Nhà hàng Tre Restaurant ')
GO
INSERT [dbo].[DATTOUR] ([SOPHIEUDATTOUR], [MAKH], [SOKHACH]) VALUES (N'SPDT01    ', N'KH01      ', N'20')
INSERT [dbo].[DATTOUR] ([SOPHIEUDATTOUR], [MAKH], [SOKHACH]) VALUES (N'SPDT02    ', N'KH02      ', N'15')
INSERT [dbo].[DATTOUR] ([SOPHIEUDATTOUR], [MAKH], [SOKHACH]) VALUES (N'SPDT03    ', N'KH03      ', N'26')
GO
INSERT [dbo].[DIADIEMTHAMQUAN] ([MADTQ], [MATOUR], [TENDTQ]) VALUES (N'DTQ01     ', N'T01       ', N'Gành Dầu-Vinpearl Safari-Bãi Ông Lang')
INSERT [dbo].[DIADIEMTHAMQUAN] ([MADTQ], [MATOUR], [TENDTQ]) VALUES (N'DTQ02     ', N'T02       ', N'Thác Datanla-Núi Langbiang-Đồi Robin')
INSERT [dbo].[DIADIEMTHAMQUAN] ([MADTQ], [MATOUR], [TENDTQ]) VALUES (N'DTQ03     ', N'T03       ', N'Eo gió Quy Nhơn-Cù Lao Xanh-Surf Bar')
GO
INSERT [dbo].[DICHVU] ([MADV], [MANV], [MALOAI], [TENDV], [GIA]) VALUES (N'DV01      ', N'NV01      ', N'ML01      ', N'Café núi ngắm hoàng hôn', 200000.0000)
INSERT [dbo].[DICHVU] ([MADV], [MANV], [MALOAI], [TENDV], [GIA]) VALUES (N'DV02      ', N'NV02      ', N'ML02      ', N'Leo núi', 950000.0000)
INSERT [dbo].[DICHVU] ([MADV], [MANV], [MALOAI], [TENDV], [GIA]) VALUES (N'DV03      ', N'NV03      ', N'ML03      ', N'Spa thảo mộc', 500000.0000)
GO
INSERT [dbo].[HDV] ([MAHDV], [MATOUR], [TENHDV], [ĐIACHI], [SĐT]) VALUES (N'HDV01     ', N'T01       ', N'BUI NHATTAM', N'QUẬN 1', N'333666789')
INSERT [dbo].[HDV] ([MAHDV], [MATOUR], [TENHDV], [ĐIACHI], [SĐT]) VALUES (N'HDV02     ', N'T02       ', N'TRINH HOAI DUC', N'QUẬN 6', N'111222444')
INSERT [dbo].[HDV] ([MAHDV], [MATOUR], [TENHDV], [ĐIACHI], [SĐT]) VALUES (N'HDV03     ', N'T03       ', N'PHAN NHAN HAI', N'QUẬN 8', N'668844551')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [ĐIACHI], [SĐT]) VALUES (N'KH01      ', N'NGUYEN TUAN VINH', N'2608996', N'QUẬN 3', N'904567891')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [ĐIACHI], [SĐT]) VALUES (N'KH02      ', N'TRAN NGOC NHU', N'2608923', N'BÌNH THẠNH', N'789456123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [ĐIACHI], [SĐT]) VALUES (N'KH03      ', N'PHAM VINH', N'2608911', N'THỦ ĐỨC', N'321654987')
GO
INSERT [dbo].[KHACHSAN] ([MAKS], [MATOUR], [TENKS], [ĐIACHI], [SĐT]) VALUES (N'KS01      ', N'T01       ', N'Ori Hotel', N'Tran Hung Dao Street,Phú Quốc', N'115466789')
INSERT [dbo].[KHACHSAN] ([MAKS], [MATOUR], [TENKS], [ĐIACHI], [SĐT]) VALUES (N'KS02      ', N'T02       ', N'Nhím Garden House', N'74,76 Tô Hiệu Phường 7 Đà Lạt Việt Nam 5, Đà Lạt', N'229866321')
INSERT [dbo].[KHACHSAN] ([MAKS], [MATOUR], [TENKS], [ĐIACHI], [SĐT]) VALUES (N'KS03      ', N'T03       ', N'Mira Eco Hotel Quy Nhơn', N'Tọa lạc tại thành phố Quy Nhơn', N'779651772')
GO
INSERT [dbo].[LOAIDICHVU] ([MALOAI], [TENLOAI]) VALUES (N'ML01      ', N'Thư giãn')
INSERT [dbo].[LOAIDICHVU] ([MALOAI], [TENLOAI]) VALUES (N'ML02      ', N'Giải trí')
INSERT [dbo].[LOAIDICHVU] ([MALOAI], [TENLOAI]) VALUES (N'ML03      ', N'Làm đẹp')
GO
INSERT [dbo].[LOAIPHUONGTIEN] ([MALPT], [TENLPT], [SOCHO]) VALUES (N'MPT01     ', N'XE 16 CHỖ', N'16')
INSERT [dbo].[LOAIPHUONGTIEN] ([MALPT], [TENLPT], [SOCHO]) VALUES (N'MPT02     ', N'XE 24 CHỖ', N'24')
INSERT [dbo].[LOAIPHUONGTIEN] ([MALPT], [TENLPT], [SOCHO]) VALUES (N'MPT03     ', N'XE 50 CHỖ', N'50')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [SĐT]) VALUES (N'NV01      ', N'BUI QUOC VIET', N'QUANLY', N'123789456')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [SĐT]) VALUES (N'NV02      ', N'TRUONG CONG NHAT', N'NHAPLIEU', N'789123456')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [SĐT]) VALUES (N'NV03      ', N'NGUYEN QUANG LAM', N'IN AN', N'794613285')
GO
INSERT [dbo].[PHIEUDATDICHVU] ([SOPHIEU], [MAKH], [NGAYDAT]) VALUES (N'SP01      ', N'KH01      ', CAST(N'2022-01-15' AS Date))
INSERT [dbo].[PHIEUDATDICHVU] ([SOPHIEU], [MAKH], [NGAYDAT]) VALUES (N'SP02      ', N'KH02      ', CAST(N'2022-01-14' AS Date))
INSERT [dbo].[PHIEUDATDICHVU] ([SOPHIEU], [MAKH], [NGAYDAT]) VALUES (N'SP03      ', N'KH03      ', CAST(N'2022-02-10' AS Date))
GO
INSERT [dbo].[PHUONGTIENDICHUYEN] ([MALPT], [MATOUR]) VALUES (N'MPT01     ', N'T01       ')
INSERT [dbo].[PHUONGTIENDICHUYEN] ([MALPT], [MATOUR]) VALUES (N'MPT02     ', N'T02       ')
INSERT [dbo].[PHUONGTIENDICHUYEN] ([MALPT], [MATOUR]) VALUES (N'MPT03     ', N'T03       ')
GO
INSERT [dbo].[TOUR] ([MATOUR], [MAVE], [MAQA], [TENTOUR], [NGAYBD], [NGAYKT]) VALUES (N'T01       ', N'VE01      ', N'QA01      ', N'Tour Phú Quốc chuyến nghỉ dưỡng sang chảnh', CAST(N'2022-01-20' AS Date), CAST(N'2022-01-22' AS Date))
INSERT [dbo].[TOUR] ([MATOUR], [MAVE], [MAQA], [TENTOUR], [NGAYBD], [NGAYKT]) VALUES (N'T02       ', N'VE02      ', N'QA02      ', N'Tour Đà Lạt thành phố ngàn hoa', CAST(N'2022-01-20' AS Date), CAST(N'2022-01-23' AS Date))
INSERT [dbo].[TOUR] ([MATOUR], [MAVE], [MAQA], [TENTOUR], [NGAYBD], [NGAYKT]) VALUES (N'T03       ', N'VE03      ', N'QA03      ', N'Tour Quy Nhơn Maldives của Việt Nam', CAST(N'2022-01-22' AS Date), CAST(N'2022-01-25' AS Date))
GO
INSERT [dbo].[VE] ([MAVE], [MADL], [TENVE]) VALUES (N'VE01      ', N'DL01      ', N'PHÚ QUỐC')
INSERT [dbo].[VE] ([MAVE], [MADL], [TENVE]) VALUES (N'VE02      ', N'DL02      ', N'ĐÀ LẠT')
INSERT [dbo].[VE] ([MAVE], [MADL], [TENVE]) VALUES (N'VE03      ', N'DL03      ', N'QUY NHƠN')
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUDUNGDICHVU_MADV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDICHVU] CHECK CONSTRAINT [FK_CHITIETSUDUNGDICHVU_MADV]
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUDUNGDICHVU_SOPHIEU] FOREIGN KEY([SOPHIEU])
REFERENCES [dbo].[PHIEUDATDICHVU] ([SOPHIEU])
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDICHVU] CHECK CONSTRAINT [FK_CHITIETSUDUNGDICHVU_SOPHIEU]
GO
ALTER TABLE [dbo].[CHITIETTOUR]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOUR_MATOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[CHITIETTOUR] CHECK CONSTRAINT [FK_CHITIETTOUR_MATOUR]
GO
ALTER TABLE [dbo].[CHITIETTOUR]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOUR_SOPHIEUDATTOUR] FOREIGN KEY([SOPHIEUDATTOUR])
REFERENCES [dbo].[DATTOUR] ([SOPHIEUDATTOUR])
GO
ALTER TABLE [dbo].[CHITIETTOUR] CHECK CONSTRAINT [FK_CHITIETTOUR_SOPHIEUDATTOUR]
GO
ALTER TABLE [dbo].[DANHSACHQUANAN]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHQUANAN_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DANHSACHQUANAN] CHECK CONSTRAINT [FK_DANHSACHQUANAN_MAKH]
GO
ALTER TABLE [dbo].[DATTOUR]  WITH CHECK ADD  CONSTRAINT [FK_DATTOUR_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATTOUR] CHECK CONSTRAINT [FK_DATTOUR_MAKH]
GO
ALTER TABLE [dbo].[DIADIEMTHAMQUAN]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEMTHAMQUAN_MATOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[DIADIEMTHAMQUAN] CHECK CONSTRAINT [FK_DIADIEMTHAMQUAN_MATOUR]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_MALOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIDICHVU] ([MALOAI])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_MALOAI]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_MANV]
GO
ALTER TABLE [dbo].[HDV]  WITH CHECK ADD  CONSTRAINT [FK_HDV_MATOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[HDV] CHECK CONSTRAINT [FK_HDV_MATOUR]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACHSAN_MATOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KHACHSAN_MATOUR]
GO
ALTER TABLE [dbo].[PHIEUDATDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATDICHVU_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDATDICHVU] CHECK CONSTRAINT [FK_PHIEUDATDICHVU_MAKH]
GO
ALTER TABLE [dbo].[PHUONGTIENDICHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUONGTIENDICHUYEN_MALPT] FOREIGN KEY([MALPT])
REFERENCES [dbo].[LOAIPHUONGTIEN] ([MALPT])
GO
ALTER TABLE [dbo].[PHUONGTIENDICHUYEN] CHECK CONSTRAINT [FK_PHUONGTIENDICHUYEN_MALPT]
GO
ALTER TABLE [dbo].[PHUONGTIENDICHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUONGTIENDICHUYEN_MATOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[PHUONGTIENDICHUYEN] CHECK CONSTRAINT [FK_PHUONGTIENDICHUYEN_MATOUR]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_MAQA] FOREIGN KEY([MAQA])
REFERENCES [dbo].[DANHSACHQUANAN] ([MAQA])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_MAQA]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_MAVE] FOREIGN KEY([MAVE])
REFERENCES [dbo].[VE] ([MAVE])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_MAVE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_MADL] FOREIGN KEY([MADL])
REFERENCES [dbo].[DAILY] ([MADL])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_MADL]
GO
